@font-face {
  font-family: 'Markazi Text';
  src: url('../assets/font/markazitext/MarkaziText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: 'Markazi Text', sans-serif;
    background-image: url(../assets/background/hassaan-here.jpg);
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    place-items: center;
  }

.logo-container {
  width: 50vw;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.players-info {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .board {
      display: grid;
      height: 35vw;
      width: 35vw;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      /* border: 1px solid black; */
      gap: 2px solid black;
      padding: 2px;
      background-color: transparent;
    }
    
    .cell {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 2rem;
      /* border: 1px solid grey; */
      background: transparent;
      cursor: pointer;
    }