@font-face {
  font-family: 'Markazi Text';
  src: url('../assets/font/markazitext/MarkaziText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --violet: #40295e;
  --blue: #13222e;
  --white: #f5f5f5;
  --black: #1a1a1a;
  --gray: #5a5a5a;
  --yellow: #e3c200;
  --gold: gold;
  --red: #f3464a;
  --green: #12e193;
  --line-height: 1.6;
  --font-size-base: 1rem;
}

* {
  box-sizing: border-box;
}

body {
    font-family: 'Markazi Text', sans-serif;
    background-image: url(../assets/background/hassaan-here.jpg);
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  dialog::backdrop {
    background-image: url(../assets/background/Designer3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  dialog {
    margin: auto auto;

    & > form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & > p {
        display: flex;
        flex-direction: column;
      }

      & label {
        text-align: center;
    }

    & input:valid {
        border: 3px solid green;
    }

    & input:focus:valid {
        border: 3px solid green;
        background-color: color-mix(in srgb, var(--green), transparent 80%);
    }

    &  input:focus-invalid {
        border: 3px solid red;
        background-color: color-mix(in srgb, var(--red), transparent 80%);
    }
    
    & button {
        width: 100%;
        margin: auto;
        padding: 5px;
        border: 3px solid var(--black);
        background: var(--yellow);
        cursor: pointer;
    }
    }
  } 

   #bg-credits {
    font-size: 0.7em;
    position: absolute;
    top: 1rem;
    right: 90%;

    & > a {
        display: inline-block;
        color: var(--violet);
    }
}

.logo-container {
  width: 50vw;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.players-info {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .board {
      display: grid;
      height: 35vw;
      width: 35vw;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      /* border: 1px solid black;   */
      gap: 2px;
      background-image: url(../assets/background/Designer.jpeg);
      background-size: cover;
    }
    
    .cell {
      color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 4rem;
       border: auto solid black; 
      background: transparent;
      cursor: pointer;
    }

@media screen and (max-width: 768px) {
  
  .logo-container, .board, .players-info {
    width: 80vw;
  }

  .board {
    height: 80vw;
  }
}